.modalDiv {
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem;
}
.modal {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.829);
}
.modalBox {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;
  width: 60%;
  height: auto;
  position: absolute;
  background-color: rgb(230, 230, 230);
  border-radius: 1rem;
}
.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.imgModal {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.829);
}
