@import "button.css";
@import "avatar.css";
@import "card.css";
@import "form.css";
@import "input.css";
@import "navbar.css";
@import "modal.css";
@import "tooltip.css";
@import "badge.css";
@import "spinner.css";
@import "toast.css";

:root {
  --darkGreen: rgb(40, 61, 59);
  --orange: rgb(248, 190, 1);
  --whitePale: rgb(237, 221, 212);
  --red: rgb(196, 69, 54);
  --blue: rgb(0, 113, 128);
}

body {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
h5,
h4 {
  margin-block-end: 0;
  margin-block-start: 0;
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 1rem;
  }
}
